NODE_ENV=production
PORT=9000
MEDUSA_WORKER_MODE=server
DISABLE_MEDUSA_ADMIN=false
MEDUSA_BACKEND_URL=http://localhost:9000
STORE_CORS=http://localhost:8000
ADMIN_CORS=http://localhost:9000
AUTH_CORS=http://localhost:8000,http://localhost:9000
DATABASE_URL=
DATABASE_REQUIRE_SSL=false
DATABASE_SSL_REJECT_UNAUTHORIZED=false
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
